<!doctype html>
<html ng-app>
  <head>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.0-beta.5/angular.min.js"></script>
    <script src="angular-performance-test.js"></script>
    <style>
    </style>
  </head>
  <body>
    <h2>Todo</h2>
    <div ng-controller="TodoCtrl">
        <input type="checkbox" ng-model="checkAll" />
        <div ng-repeat="todo in children">
          <span>{{$index}}</span>
          <input type="checkbox" ng-model="todo.checked">
          <span>Name: </span><span>{{todo.Name}}</span>
          <span>Age: </span><span>{{todo.Age}}</span>
          
          <input ng-model="todo.Name"></input>
          <input ng-model="todo.Age"></input>
          <span>Render at: </span><span>{{console.log(time.toLocaleTimeString())}}</span>
		  
          <input ng-click="deletePerson($index)" value="Delete" type="submit"/>
        </div>
        
        <br />
        
        <input ng-click="add1()" type="button" value="Add a chil"/>
        <input ng-click="add1000()" type="button" value="1000 children"/>
        <input ng-click="add2000()" type="button" value="2000 children"/>
        <input ng-click="add3000()" type="button" value="3000 children"/>
        <input ng-click="add10000()" type="button" value="10.000 children"/>
    </div>
  </body>
</html>



