body {padding: 0 10%;}
.navbar-default{background-color: #fff; border-color: #fff;}
.pagination {margin-top:0px;}
.tool-bars i{font-weight: bold;}
.price  a{padding: 0px 10px;}
div.desc {margin-left: 5px;}
div.desc h2 {margin-top: 0px;}
div.desc > p {padding-left: 15px;border-left: 3px solid #dad5d5;}
div.image {display: inline-block;}
div.bookItem{margin: 10px auto;}
div.books{margin-top: 20px;}
div.tiles img{margin: 5px auto;display:block;}
div.tiles{border: 1px solid #ccc;}
.tiles .desc {background-color: #eee; margin: 0px;}
.input-w200 {width: 200px;}
.input-w300 {width: 300px;}
form input,
form textarea
 {display: inline !important; margin-right: 5px;}
.html-error {color: red;}